<p>Top Spotify Artists</p>
<ul>
  <% artists.forEach(function(artist) { %>
    <li>
      <a href="<%= artist.external_urls.spotify %>" rel="noopener noreferrer" target="_blank"><%= artist.name %></a>
    </li>
  <% }); %>
</ul>
